modules = ["python-3.11", "nodejs-20"]
[agent]
expertMode = true
integrations = ["github:1.0.0", "onedrive:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Website"

[[workflows.workflow]]
name = "Start Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34115
externalPort = 5173

[[ports]]
localPort = 34611
externalPort = 8000

[[ports]]
localPort = 34835
externalPort = 5000

[[ports]]
localPort = 35761
externalPort = 3000

[[ports]]
localPort = 36127
externalPort = 3001

[[ports]]
localPort = 39063
externalPort = 8008

[[ports]]
localPort = 40175
externalPort = 3003

[[ports]]
localPort = 41183
externalPort = 6800

[[ports]]
localPort = 41869
externalPort = 3002

[[ports]]
localPort = 41969
externalPort = 8080

[[ports]]
localPort = 45069
externalPort = 4200

[[ports]]
localPort = 45305
externalPort = 6000

[nix]
channel = "stable-25_05"
packages = ["imagemagick"]
